@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(arquivos/fundo-madeira.jpg)center center/cover no-repeat fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url(arquivos/frame-iphone.png) no-repeat;
}

img {
    height: 75px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.600);

}

img:hover {
    border: 3px solid rgba(255, 255, 255, 0.600);
    box-sizing: border-box;
    box-shadow: 6px 6px 15px rgb(0, 0, 0, 0.600);
    transition: border .2s;
}

li {
    display: inline-block
}

li:hover {
    transform: translate(-3px, -3px);
    transition: transform 1s;
}

ul {
    list-style: none;
    text-align: right;
}

iframe {
    margin-top: 80px;
    margin-left: 22px;
    width: 267px;
    height: 471px;
}
