@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

:root {
    --color1: rgb(87, 87, 88);
    --color2: rgb(49, 56, 50);
    --color3: rgb(169, 169, 222);
}

body {
    background-color: var(--color2);
}

header, div, main, menu {
    width: 670px;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: var(--color1);
    margin-top: 10px;
}

div {
    display: none;
    background-color: var(--color3);
    text-align: center;
    height: 55px;
    max-width: 55px;
}

#burguer {
    color: var(--color2);
    font-size: 50px;
    margin: auto;
    transition: transform 0.3s;
}

.burguer {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.menu {display: block;}

ul {
    border: 1px solid var(--color2);
    padding: 5px;
}

li {
    background-color:var(--color3);
    border: 1px solid var(--color2);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    list-style-type: none;
}

li:hover {
    color: white;
    transition: 0.3s;
    filter: brightness(0.8); 
}

main {
    max-width: 85%;
    background-color: #ffffffde;
    text-align: justify;
    padding: 5px;
}