@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(83, 169, 78, 0.797);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1, h2, div, p, ul { 
    padding: 10px;
    max-width: 80%;
}

#rules {
    background-color: bisque;
    border-radius: 5px;
    margin-left: 10px;
    text-align: justify;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
}

li {
    list-style-position: inside;
    padding: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    border: solid 1px black;
    margin-top: 5px;
}

#sectionPlayer {
    background-color: bisque;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    max-width: 81.4%;
}

#confirm:hover {
    background-color: bisque;
    transition: .3s;
}

#restart {
    display: block;
    width: 100px;
    height: 100px;
}

#outJogoVelha {
    position: relative;
    margin-top: 180px;
}

#inJogoVelha {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#inJogoVelha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
}

select {
    border: 1px solid black;
    font-size: 50px; 
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500); 
}

select:hover {
    background-color: bisque;
    transition: .3s;
}

.none {display: none;}